
}
body {
	font-family: "Poppins";
}

p {
	padding-left: 150pt;
	padding-right: 150pt;
}

h1 {
    text-align: center;
}

.banner {
    font-family: "Henny Penny";
    text-align: center;
}

#header {
    background-image: url("header.jpg");
    background-size: cover;
    display: block;
    margin: auto;
    width: auto;
    height: 248px;
    border-style: solid;
    border-color: skyblue;
    font-size: 60pt;
    text-align: center;

}
